<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>mySite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/bulletin.css">
    </head>
    
    <body>
        <div class="wrap">
        <div id="header" class="clearfix">
            <h1>MySite</h1>
            <ul class="clearfix">
                <li>
                    <a href="">로그인</a>
                </li>
                <li>
                    <a href="">회원가입</a>
                </li>
            </ul>
        </div>
        
        <div id="nav">
            <ul class="clearfix">
                <li>
                    <a href="">입사 지원서</a>
                </li>
                <li>
                    <a href="">게시판</a>
                </li>
                <li>
                    <a href="">갤러리</a>
                </li>
                <li>
                    <a href="">방명록</a>
                </li>
            </ul>
            </div>
            
            <div id="content2" class="clearfix">
                <div id="aside">
                <h2>게시판</h2>
                <ul>
                    <li>일반게시판</li>
                    <li>댓글게시판</li>
                </ul>
            </div>
        
            <div id="main">
                <div id="main-head" class="clearfix">
                <h3>일반게시판</h3>
                <ol class="clearfix">
                    <li>홈</li>
                    <li>게시판</li>
                    <li>일반게시판</li>
                </ol>
            </div>

            <div class="form-group">
                <label for="txt-title" class="form-title">제목</label>
                <input id="txt-title" type="text" placeholder="제목을 입력해주세요" name="" value="">
            </div>
            
            <div class="form-group">
                <textarea></textarea>
            </div>

            <div  id="txt-btn" class="clearfix">
            <ul id="txt-btn">
                <li>
                    <a href="">등록</a>
                </li>
                <li>
                    <a href="">취소</a>
                </li>
            </ul>
            </div>

            <div id="footer">
                <p>Copyright ⓒ 2025 정영민. All right reserved</p>
            </div>
            </div>
            </div>
            </div>
            
        </div>
    </body>
</html>

