<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/board.css">
    </head>
    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>
            
            <div id="nav">
                <ul class="clearfix">
                    <li>
                        <a href="">입사 지원서</a>
                    </li>
                    <li>
                        <a href="">게시판</a>
                    </li>
                    <li>
                        <a href="">갤러리</a>
                    </li>
                    <li>
                        <a href="">방명록</a>
                    </li>
                </ul>
            </div>
            
            <div id="content2" class="clearfix">
                    <div id="aside">
                    <h2>게시판</h2>
                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>
                </div>
            
                <div id="main">
                    <div id="main-head" class="clearfix">
                    <h3>일반게시판</h3>
                    <ol class="clearfix">
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ol>
                </div>

                <div>게시판리스트</div>
                
                <div class="flot">
                    <div class="txt-box">
                        <input type="text" placeholder="">
                        <button type="submit">검색</button>
                      </div>
                </div>  
                <table>
                    <colgroup>
                        <col style="width: 50px;">
                        <col style="width: 300px;">
                        <col style="width: 80px;">
                        <col style="width: 80px;">
                        <col style="width: 100px;">
                        <col style="width: 50px;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>조회수</th>
                            <th>작성일</th>
                            <th>관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123</td>
                            <td>게시판게시글입니다</td>
                            <td>정우성</td>
                            <td>1232</td>
                            <td>2020-12-23</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>123</td>
                            <td>게시판게시글입니다</td>
                            <td>정우성</td>
                            <td>1232</td>
                            <td>2020-12-23</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>123</td>
                            <td>게시판게시글입니다</td>
                            <td>정우성</td>
                            <td>1232</td>
                            <td>2020-12-23</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>123</td>
                            <td>게시판게시글입니다</td>
                            <td>정우성</td>
                            <td>1232</td>
                            <td>2020-12-23</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>123</td>
                            <td>게시판게시글입니다</td>
                            <td>정우성</td>
                            <td>1232</td>
                            <td>2020-12-23</td>
                            <td>[삭제]</td>
                        </tr>
                    
                    </tbody>
                </table>
                <div class="page">
                    <a href="">&lt;</a>
                    <a href="">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href="">6</a>
                    <a href="">7</a>
                    <a href="">8</a>
                    <a href="">9</a>
                    <a href="">10</a>
                    <a href="">&gt;</a>
                  </div>
                  
                  <div class="btn">
                    <button type="submit">글쓰기</button>
                  
                </div>

                </div>
            
            </div>
                
                
            
            <div id="footer">
                <p>Copyright ⓒ 2025 정영민. All right reserved</p>
            </div>
            
            </div>
    
    </body>
</html>    