<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/reading.css">
    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>
            
            <div id="nav">
                <ul class="clearfix">
                    <li>
                        <a href="">입사 지원서</a>
                    </li>
                    <li>
                        <a href="">게시판</a>
                    </li>
                    <li>
                        <a href="">갤러리</a>
                    </li>
                    <li>
                        <a href="">방명록</a>
                    </li>
                </ul>
            </div>
            
            <div id="content2" class="clearfix">
                <div id="aside">
                <h2>게시판</h2>
                <ul>
                    <li>일반게시판</li>
                    <li>댓글게시판</li>
                </ul>
            </div>
        
            <div id="main">
                <div id="main-head" class="clearfix">
                <h3>일반게시판</h3>
                <ol class="clearfix">
                    <li>홈</li>
                    <li>게시판</li>
                    <li>일반게시판</li>
                </ol>
            </div>

            <div>
                <label class="txt-title">작성자</label>
                <label class="txt-title">정우성</label>
            </div>

            <div>
                <label class="txt-title">조회수</label>
                <label class="txt-title">123</label>
            </div>

            <div>
                <label class="txt-title">작성일</label>
                <label class="txt-title">2020-03-02</label>
            </div>
            
            <div class="form-group">
                <label class="txt-title">제목</label>
                <label class="txt-title">여기에는 글제목이 출력됩니다</label>
            </div>
            <div class="form-group">
            <p>여기에는 본문내용이 출력됩니다.</p>
            <p>여기에는 본문내용이 출력됩니다.</p>
            <p>여기에는 본문내용이 출력됩니다.</p>
            <p>여기에는 본문내용이 출력됩니다.</p>
            <p>여기에는 본문내용이 출력됩니다.</p>
            <p>여기에는 본문내용이 출력됩니다.</p>
            <p>여기에는 본문내용이 출력됩니다.</p>
            <p>여기에는 본문내용이 출력됩니다.</p>
            </div>

            <div  id="txt-btn" class="clearfix">
                <ul id="txt-btn">
                    <li>
                        <a href="">목록</a>
                    </li>
                    <li>
                        <a href="">수정</a>
                    </li>
                </ul>
                </div>

            <div id="footer">
                <p>Copyright ⓒ 2025 정영민. All right reserved</p>
            </div>

            

            </div>
    </body>
</html>