@charset "UTF-8";

.txt-title{
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
}
.form-group textarea{
    width: 800px;
    height: 500px;
}

.form-group #txt{
    width: 700px;
    padding-bottom: 10px;
}

#txt-btn ul{
    float: right;
    margin-top: 5px ;
    }
    
#txt-btn>ul>li{
    float: left;
    padding: 10px 10px 10px 10px;
     margin-left: 10px;
    
    border-radius: 3px;
    background-color: #e3e3e3;
    border: 1px solid #c0c0c0;
}
