@charset "UFT-8";

table{
    border-collapse: collapse;
}

tr{
    text-align: center;
}
th{
    background-color: #d5d5d5;
    border-top: solid;
    border-bottom: solid;
}
td{
    border-bottom: dotted;
    
}
tbody tr:hover{
    background-color: #ffff00;
}
.solid td{
    border-bottom: solid;
}
