@charset "UTF-8";
body, div,
ul, li, dl, dt, ol,
h1, h2, h3,h4, h5, h6, 
input, fieldset, legend, p, select, textarea, button, form
p,table, th, td, tr{ 
    margin: 0; padding: 0;
}
body{
    background-color: #808080;
    font-family: "맑은 고딕";
    font-size: 12px;
}
.wrap{
    background-color: #ffffff;
    width: 600px;
}

.wrap h3{
    font-size: 18px;
    font-weight: bold;
}

.wrap ol{
    list-style: none;
    margin: 10px 0px 10px 0px;
}

ol li{
    float: left;
}
li::after{
    content: ">";
    padding: 0px 5px 0px 5px;
}
:last-child::after{
    content: none;
}


/* 공용 */
.form-group{
    border-bottom:1px solid #000000;
    padding: 10px;
    
}


/* 공용 */
.form-title{
    width: 120px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
}
input select textarea { 
    font-family: "inherit";
    font-size: "inherit";
}

/* 라디오체크박스 */
.form-group input[type="radio"],
.form-group input[type="checkbox"]{
    font-family: "inherit";
    font-size: "inherit";
}


/* 글내용 */
.form-group textarea{
    width: 450px;
    height: 60px;
}

.vt-briping{
    vertical-align: top;
    padding-left: 30px;
    padding-right: 30px;
}

/* 버튼그룹 */
.btn-group{
    text-align: center;
    padding: 10px;

}

/* 버튼그룹 */
.btn-group button{
    text-align: center;
    width: 120px;
    padding: 10px;
}

/* clearfix */
.clearfix::before, .clearfix::after{
    display: block;
    content: ""; 
    line-height: 0;}
.clearfix::after
 {clear: both;}

 #txt{
    margin-top: 10px;
    width: 350px;
 }