<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/guestbook.css">
    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>
            
            <div id="nav">
                <ul class="clearfix">
                    <li>
                        <a href="">입사 지원서</a>
                    </li>
                    <li>
                        <a href="">게시판</a>
                    </li>
                    <li>
                        <a href="">갤러리</a>
                    </li>
                    <li>
                        <a href="">방명록</a>
                    </li>
                </ul>
            </div>
            
            <div id="content2" class="clearfix">
                    <div id="aside">
                    <h2>게시판</h2>
                    <ul>
                        <li>일반방명록</li>
                        <li>ajax방명록</li>
                    </ul>
                </div>
            
                <div id="main">
                    <div id="main-head" class="clearfix">
                    <h3>일반방명록</h3>
                    <ol class="clearfix">
                        <li>홈</li>
                        <li>방명록</li>
                        <li>일반방명록</li>
                    </ol>
                </div>
                <div class="form-group">
                    <table border="1">
                        <tr>
                            <td>이름</td>
                            <td>
                                <input type="text" name="" value="">
                            </td>
                            <td>패스워드</td>
                            <td>
                                <input type="text" name="" value="">
                            </td>
                           
                        </tr>
                        
                    </table>
                    
                    <div class="form-group">
                    <textarea></textarea>
                    </div>

                    
                    <div id="btn">    
                        <button type="submit">등록</button>
                    </div>

                
                </div>
                
                <div>
                    <table>
                        <tr>
                            <td>1234555</td>
                            <td>이정재</td>
                            <td>2020-03-03 12:12:12</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td class="letter">방명록글입니다</td>
                        </tr>
                    </table>
                </div>
                
                <div>
                    <table>
                        <tr>
                            <td>1234555</td>
                            <td>이정재</td>
                            <td>2020-03-03 12:12:12</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td class="letter">방명록글입니다</td>
                        </tr>
                    </table>
                </div>
                
                <div id="footer">
                    <p>Copyright ⓒ 2025 정영민. All right reserved</p>
                </div>
                
            </div>
    </body>
</html>